@model IEnumerable<ReversiApp.Models.Spel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Omschrijving)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Token)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SerializedBord)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AandeBeurt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Omschrijving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Token)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerializedBord)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AandeBeurt)
            </td>
            <td>

                <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                @if (this.User.IsInRole("Mod, Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                }

            </td>
        </tr>
}
    </tbody>
</table>
